<app-header [title]="'Doctori din cabinet'"></app-header>
<div class="container">
  <div class="row">
    <div *ngFor="let doctor of doctors" class="col d-flex justify-content-center align-items-center m-4">
      <div class="d-flex flex-column width-500px border-card p-4 rounded">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h2>{{ doctor.name }}</h2>
          <img class="rounded doctor-img" [src]="photoLink(doctor.photoName)" [alt]="doctor">
        </div>
        <h4>{{ doctor.description }}</h4>
      </div>
    </div>
  </div>
</div>

