<h2 mat-dialog-title>{{ data ? 'Modifică' : 'Adaugă' }}</h2>
<mat-dialog-content class="test">
  <form [formGroup]="form" class="d-flex flex-column justify-content-center">
    <mat-form-field appearance="outline" class="my-2">
      <mat-label>Nume</mat-label>
      <input formControlName="name" matInput required>
      <mat-error *ngIf="form.controls.name.touched && form.controls.name.errors?.['required']">
        Obligatoriu
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="mb-2 textarea-container">
      <mat-label>Descriere</mat-label>
      <textarea formControlName="description" matInput cdkTextareaAutosize required></textarea>
      <mat-error *ngIf="form.controls.description.touched && form.controls.description.errors?.['required']">
        Obligatoriu
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="mb-2">
      <mat-label>Prețul pe ședință</mat-label>
      <input formControlName="priceForOne" matInput required type="number">
      <mat-error *ngIf="form.controls.priceForOne.touched && form.controls.priceForOne.errors?.['required']">
        Obligatoriu
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="mb-2">
      <mat-label>Numărul de întâlniri</mat-label>
      <input formControlName="numberOfMeets" matInput required type="number">
      <mat-error *ngIf="form.controls.numberOfMeets.touched && form.controls.numberOfMeets.errors?.['required']">
        Obligatoriu
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="mb-2">
      <mat-label>Prețul ofertei</mat-label>
      <input formControlName="priceForAllMeets" matInput required type="number">
      <mat-error *ngIf="form.controls.priceForAllMeets.touched && form.controls.priceForAllMeets.errors?.['required']">
        Obligatoriu
      </mat-error>
    </mat-form-field>
    <div mat-dialog-actions class="d-flex justify-content-between">
      <button mat-button mat-dialog-close>Close</button>
      <div>
        <button mat-raised-button color="warn" *ngIf="data != null" (click)="onDelete()">Șterge</button>
        <button mat-raised-button color="primary" (click)="onSave(data != null)">{{ data ? 'Modifică' : 'Adaugă' }}</button>
      </div>
    </div>
  </form>
</mat-dialog-content>
