<div class="form-container">
  <h2>Schimbă parola</h2>
  <form [formGroup]="form" class="form-inputs">
    <mat-form-field appearance="outline" class="mb-2">
      <mat-label>Parola actuală</mat-label>
      <input formControlName="currentPassword" matInput type="password">
      <mat-error *ngIf="form.controls.currentPassword.touched && form.controls.currentPassword.errors?.['required']">
        Obligatoriu
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="mb-2">
      <mat-label>Noua parolă</mat-label>
      <input formControlName="newPassword" matInput type="password">
      <mat-error *ngIf="form.controls.newPassword.touched && form.controls.newPassword.errors?.['required']">
        Obligatoriu
      </mat-error>
      <mat-error *ngIf="form.controls.newPassword.touched && form.controls.newPassword.errors?.['minlength']">
        Minim 6 litere
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="mb-2">
      <mat-label>Repetă parola</mat-label>
      <input formControlName="repeatPassword" matInput type="password">
      <mat-error *ngIf="form.controls.repeatPassword.touched && form.controls.repeatPassword.errors?.['required']">
        Obligatoriu
      </mat-error>
      <mat-error *ngIf="form.controls.newPassword.touched && form.controls.newPassword.errors?.['notMatch']">
        Parola nu este la fel
      </mat-error>
    </mat-form-field>
  </form>
  <div class="d-flex justify-content-center width-350px mb-2">
    <button (click)="submit($event)" mat-raised-button>Schimbă</button>
  </div>
</div>
