<div class="form-container">
  <h2>Adaugă un doctor</h2>
  <form [formGroup]="form" class="form-inputs">
    <mat-form-field appearance="outline" class="mb-2">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput>
      <mat-error *ngIf="form.controls['email'].touched && form.controls['email'].errors?.['required']">
        Obligatoriu
      </mat-error>
      <mat-error *ngIf="form.controls['email'].touched && form.controls['email'].errors?.['email']">
        Invalid email
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="mb-2">
      <mat-label>Nume</mat-label>
      <input formControlName="lastName" matInput>
      <mat-error *ngIf="form.controls['lastName'].touched && form.controls['lastName'].errors?.['required']">
        Obligatoriu
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="mb-2">
      <mat-label>Prenume</mat-label>
      <input formControlName="firstName" matInput>
      <mat-error *ngIf="form.controls['firstName'].touched && form.controls['firstName'].errors?.['required']">
        Obligatoriu
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="mb-2">
      <mat-label>Numărul de telefon</mat-label>
      <input formControlName="phoneNumber" matInput>
      <mat-error *ngIf="form.controls['phoneNumber'].touched && form.controls['phoneNumber'].errors?.['required']">
        Obligatoriu
      </mat-error>
      <mat-error *ngIf="form.controls['phoneNumber'].touched && form.controls['phoneNumber'].errors?.['notMatch'] && !form.controls['phoneNumber'].errors?.['required']">
        Numărul de telefon incorect
      </mat-error>
    </mat-form-field>
  </form>
  <div class="d-flex justify-content-center width-350px mb-2">
    <button (click)="submit($event)" mat-raised-button>Adaugă</button>
  </div>
  <div> Parola doctor01</div>
</div>
