<div class="d-flex flex-column align-items-center">
  <h2 class="m-3">Zile libere cabinet</h2>
  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Ziua</mat-label>
      <input [matDatepickerFilter]="disableAlreadyFreeDays" [matDatepicker]="datepicker" formControlName="start"
             matInput>
      <mat-datepicker-toggle [for]="datepicker" matIconSuffix></mat-datepicker-toggle>
      <mat-datepicker #datepicker>
      </mat-datepicker>
      <mat-error
        *ngIf="form.controls['start'].touched && form.controls['start'].errors?.['required']">
        Adaugă dată
      </mat-error>
    </mat-form-field>
  </form>
  <button (click)="submit()" class="m-2" mat-raised-button>Adaugă</button>
  <div *ngFor="let freeDay of cabinetFreeDays" class="w-25 m-2">
    <mat-card class="p-3">
      <mat-card-title>Ziua: {{ freeDay.start | date:'dd/MM/yyyy' }}</mat-card-title>
      <button (click)="onDelete(freeDay.id ?? '')" color="warn" mat-raised-button>Șterge</button>
    </mat-card>
  </div>
</div>
