/* You can add global styles to this file, and also import other style files */
@use "assets/variables.scss";
@use '@angular/material' as mat;

@include mat.core();
@import '@angular/material/theming';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.form-inputs{
  display: flex;
  flex-direction: column;
  width: 350px;
  padding: 60px 0;
}

.width-350px{
  width: 350px;
}

.background-primary-color{
  background-color: variables.$primary-color;
}
