/* You can add global styles to this file, and also import other style files */
@use "assets/variables.scss";
@use '@angular/material' as mat;

@include mat.core();
@import '@angular/material/theming';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


body{
  background-color: #f7f7f7;
}


.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.form-inputs{
  display: flex;
  flex-direction: column;
  width: 350px;
  padding: 60px 0;
}

.width-350px{
  width: 350px;
}

.background-primary-color{
  background-color: variables.$primary-color !important;
}

.background-secondary-color{
  background-color: variables.$secondary-color !important;
}

.background-third-color{
  background-color: variables.$third-color !important;
}

.color-primary-color{
  color: variables.$primary-color;
}

.background-image-blue{
  background: url("/assets/images/header-blue-image.jpeg") no-repeat center;
  background-size: cover;
}

.breaking-line{
  white-space: pre-line;
}

.cursor-pointer{
  cursor: pointer;
}

.mat-datepicker-content {
  box-shadow: 0 2px 4px -1px #0003, 0 4px 5px #00000024, 0 1px 10px #0000001f;
  background-color: #fff;
  color: #000000de
}

.mat-calendar-body-selected {
  background-color: variables.$primary-color;
  color: #fff;
}

.mat-calendar-body-cell-content {
  border: none !important;
}

.textarea-container{
  width: 800px;
}

.img-website{
  width: 150px;
  height: 150px;
}
