<div class="menu-container d-flex justify-content-between align-items-center ps-4 ps-lg-5">
  <ng-container *ngIf="isAdminPage()">
    <div [routerLink]="'admin/home'" class="cursor-pointer">Medical</div>
    <div>
      <button [routerLink]="'admin/change-password'" class="me-2" mat-raised-button>Schimbă parola</button>
      <button (click)="logout()" class="me-4" mat-raised-button>Deconectați-vă</button>
    </div>
  </ng-container>
  <ng-container *ngIf="!isAdminPage()">
    <div [routerLink]="'/home'" class="cursor-pointer">Medical</div>
    <button *ngIf="!isAdminPage()" [matMenuTriggerFor]="menu" class="menu-button-container" mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
  </ng-container>
  <mat-menu #menu="matMenu">
    <button [routerLink]="'/home'" mat-menu-item>Acasă</button>
    <button [routerLink]="'/doctors'" mat-menu-item>Doctori</button>
    <button [routerLink]="'/prices'" mat-menu-item>Oferte</button>
  </mat-menu>
</div>
