<div class="menu-container d-flex justify-content-between align-items-center ps-5">
  <div>Medical</div>
  <button *ngIf="isAdminPage()" class="me-4" (click)="logout()" mat-raised-button>Log out</button>
  <button *ngIf="!isAdminPage()" mat-icon-button [matMenuTriggerFor]="menu" class="menu-button-container">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="'/home'">Acasă</button>
    <button mat-menu-item [routerLink]="'/doctors'">Doctori</button>
    <button mat-menu-item [routerLink]="'/prices'">Oferte</button>
  </mat-menu>
</div>
