<h2 mat-dialog-title>{{ eventDef.extendedProps['phone'] }}</h2>
<mat-dialog-content>
  <h3>Nume: {{ data.extendedProps['name'] }}</h3>
  <h3>Camera/aparat: {{ eventDef.extendedProps['roomOrDevice'].name }}</h3>
  <h3>Doctor: {{ eventDef.extendedProps['applicationUser'].lastName }}  {{ eventDef.extendedProps['applicationUser'].firstName }}</h3>
  <h3>Început: {{ data._instance?.range?.start| date:'dd/MM/yy, HH:mm' }}</h3>
  <h3>Sfârșit: {{ data._instance?.range?.end| date:'dd/MM/yy, HH:mm' }}</h3>
  <h3>Serviciu: {{ data.extendedProps['medicalService'].name }}</h3>
  <h3>Boală: {{ data.extendedProps['disease'].name }}</h3>
  <button (click)="onDelete()" color="warn" mat-raised-button>Șterge</button>
</mat-dialog-content>



